## Data Visualization for myntra products

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#lets import the collected data set

data = pd.read_excel(r"D:\TeraBoxDownload\Python\data collection - myntra\myntra_cleaned_data.xlsx")

In [4]:
data.head()

,Unnamed: 0,brand_Name,model_name,ratings,discounted_price,original_price,discount_percentage,discount_off,Total Reviews
0,0,Urbano Fashion,Men Slim Fit Jeans,3.9|11.1k,797,1399.0,43.000000,NaN,0
1,1,The Indian Garage Co,Men Bootcut Jeans,4.1|615,749,2499.0,70.000000,NaN,0
2,2,The Indian Garage Co,Men Slim Fit Jeans,3.9|106,639,1999.0,68.000000,NaN,0
3,3,KETCH,Men Tapered Fit Jeans,4|2k,799,1749.0,54.316752,950.0,0
4,4,The Indian Garage Co,Men Slim Fit Jeans,4|386,639,1999.0,68.000000,NaN,0

In [6]:
data.drop('Total Reviews', axis = 1)

,Unnamed: 0,brand_Name,model_name,ratings,discounted_price,original_price,discount_percentage,discount_off
0,0,Urbano Fashion,Men Slim Fit Jeans,3.9|11.1k,797,1399.0,43.000000,NaN
1,1,The Indian Garage Co,Men Bootcut Jeans,4.1|615,749,2499.0,70.000000,NaN
2,2,The Indian Garage Co,Men Slim Fit Jeans,3.9|106,639,1999.0,68.000000,NaN
3,3,KETCH,Men Tapered Fit Jeans,4|2k,799,1749.0,54.316752,950.0
4,4,The Indian Garage Co,Men Slim Fit Jeans,4|386,639,1999.0,68.000000,NaN
...,...,...,...,...,...,...,...,...
495,495,The Indian Garage Co,Men Slim Fit Jeans,NaN,639,1999.0,68.000000,NaN
496,496,The Indian Garage Co,Men Slim Fit Jeans,NaN,639,1999.0,68.000000,NaN
497,497,High Star,Men Straight Fit Jeans,NaN,647,2699.0,76.000000,NaN
498,498,HERE&NOW,Men Skinny Fit Jeans,NaN,727,2599.0,72.000000,NaN
499,499,Mast & Harbour,Men Mid Rise Ripped Jeans,NaN,1057,2299.0,54.000000,NaN

In [7]:
data['ratings'].unique()

array(['3.9|11.1k', '4.1|615', '3.9|106', '4|2k', '4|386', '4.2|429',
       '3.9|152', '3.9|41', '3.5|127', '3.6|128', '3|149', '4.1|95',
       '3.6|321', '3.7|236', '3.8|324', '3.7|147', '3.7|41', '3.5|902',
       '3.6|465', '3.8|1.1k', '4|1k', '3.8|278', '3.9|1.3k', '3.8|39',
       '2.8|139', '3.5|130', '4.3|24', '4|22', '3.9|124', '3.5|45',
       '3.7|202', '3.9|143', '3.4|5', '3.8|51', '3.8|1.4k', '4.1|140',
       '3.6|1.2k', '3.7|24', '3.8|87', '3.8|242', '3.8|14.6k', '3.4|130',
       '3.9|1.1k', '4|753', '4|1.6k', '3.8|6.2k', '3.9|12.5k', '4|69',
       nan, '3.5|1.1k', '3.4|108', '3.5|24', '3.3|72', '3.9|9.1k',
       '3.9|327', '3.8|9.3k', '3.9|60', '4.1|21', '4|270', '3.8|325',
       '4|187', '3.7|1.7k', '3.7|728', '4|29', '3.8|36', '3.5|35',
       '3.8|466', '3.8|470', '3.8|131', '3.6|355', '3.7|399', '4|669',
       '3.9|5.5k', '3.9|74', '4|36', '3.7|1.2k', '4.1|225', '3.9|298',
       '3.8|282', '3.9|876', '3.6|1.1k', '3.4|1.3k', '3.4|132', '3.4|233',
       '3.1|208', '3.8|75', '3.6|85', '3.7|2.6k', '4.6|11', '3.7|128',
       '3.8|37', '3.9|784', '3.8|130', '4.2|14', '3.8|231', '3.4|91',
       '3.8|107', '4.2|17', '4.1|614', '3.4|134', '4.4|23', '3.9|471',
       '3.8|60', '3.5|2.4k', '3.8|111', '3.9|181', '4.1|435', '3.9|192',
       '3.7|296', '4.1|291', '4|103', '4.2|104', '2.6|7', '3.4|116',
       '4.1|96', '4.1|36', '3.8|1.7k', '4.1|132', '4|6', '3.6|1.3k',
       '3.8|173', '3.8|304', '4|81', '3.7|2.2k', '4.1|277', '4.5|4',
       '4|101', '3.9|159', '3.7|426', '3.9|22', '3.7|32', '3.7|599',
       '3.7|255', '3.3|26', '4.2|99', '3.9|136', '3.9|83', '3.9|33',
       '3.7|609', '3.9|1.2k', '3.7|12', '4|511', '3.7|7k', '3.9|479',
       '3.9|294', '3.8|81', '3.9|54', '4.1|195', '4|822', '3.9|43',
       '3.6|132', '3.8|16', '3.7|55', '3.8|28', '3.5|229', '4.1|67',
       '3.6|104', '3.8|175', '3.6|10', '3.7|603', '3.8|429', '3.6|11.9k',
       '3.4|75', '3.7|79', '3.7|1.8k', '3.7|285', '4.1|400', '3.9|259',
       '4.2|6', '3.6|714', '3.8|24', '3.8|210', '3.8|5', '3.6|48',
       '3.9|18', '3.8|12', '3.9|950', '3.8|19', '3.7|494', '3.8|160',
       '3.8|96', '3.7|115', '3.7|54', '3.7|106', '3.9|141', '4.2|78',
       '3.4|321', '3.2|10', '3.8|67', '2.5|23', '3.9|172', '3.8|1.2k',
       '3.9|51', '3.4|427', '3.8|6', '3.9|1.5k', '2.8|12', '3.7|4.6k',
       '4|339', '3.2|16', '3.6|1.6k', '4.4|22', '2.3|10', '3.6|153',
       '3.9|430', '3.9|2.6k', '3.9|339', '4|5', '3.8|2.6k', '3.8|200',
       '4.1|55', '2.8|13', '3.3|43', '4.1|11', '4.2|83', '3.9|133',
       '4|369', '3.4|207', '3.8|421', '3.9|303', '3.7|90', '4|158',
       '1.5|2', '4|249', '3.7|832', '3.9|238', '4.1|22', '3.9|65',
       '2.8|5', '3.8|132', '3.8|3.6k', '4.2|67', '3.5|44', '3.6|1.4k',
       '3.6|5.6k', '3.6|21', '3.9|52', '4|160', '4.2|51', '4|2.7k',
       '3.2|9', '3.2|52', '3.6|31', '3.6|178', '4|27', '3.3|48', '3.1|35',
       '3.5|19', '3.4|39', '4.2|45', '3.8|26', '2.7|6', '3.6|43',
       '3.9|3.5k', '4.1|20', '3.5|133', '4.1|46', '4.8|4', '3.8|440',
       '3.7|44', '3.8|2k', '3.3|12', '3.9|38', '2.9|7', '3.8|163',
       '3.9|836', '3.6|12', '3.7|85', '4|328', '3.5|87', '4|1.9k',
       '3.3|7', '3.5|123', '2.3|8', '3.6|876', '3.6|167', '4.6|23',
       '3.8|1.8k', '3.7|6', '3.7|110', '3.8|50', '3.8|692', '4.8|6',
       '4.2|173', '3.4|821', '4.3|7', '3.8|104', '3.6|547', '4|60',
       '3.9|34', '4|68', '3.9|31', '4|19', '3.6|857', '3.4|32', '3.5|15',
       '3.9|222', '4.2|146', '3.8|29', '3.1|15', '3.8|18', '3.8|88',
       '3.8|85', '3.6|49', '4|24', '3.3|31', '3.7|64', '3.9|309',
       '4.1|53', '3.2|22', '4.3|23', '3.5|121', '4.1|23', '3.8|612',
       '3.5|62', '3.9|24', '2.9|174', '3.8|72', '3.2|251', '3.9|36',
       '3.8|367', '3.7|242', '3.8|42', '3.2|43', '2.8|8', '3.2|56',
       '3.2|5', '4|142', '3.9|392', '3.7|265', '4|47', '3.6|38', '3.6|14',
       '3.2|26', '3.2|161', '3.9|40', '3.7|37', '4|33', '3.9|526',
       '4.3|16', '2.4|8', '4|245', '3.9|39', '4.6|25', '3.2|76', '3.7|26',
       '3.1|45', '3.5|52', '3.7|22', '4.1|734', '3.6|17', '3.7|61',
       '3.9|44', '3.6|151', '3.9|740', '3.3|51', '3.7|10', '3.8|70',
       '3.9|86', '3.6|16', '3.8|46'], dtype=object)

In [8]:
# Split the 'ratings' column into 'rating' and 'total_reviews'
data[['rating', 'total_reviews']] = data['ratings'].str.split('|', expand=True)

In [10]:
# List of columns to drop
columns_to_drop = ['Total Reviews', 'ratings']

# Drop the specified columns
df = data.drop(columns=columns_to_drop, axis=1)

In [11]:
df

,Unnamed: 0,brand_Name,model_name,discounted_price,original_price,discount_percentage,discount_off,rating,total_reviews
0,0,Urbano Fashion,Men Slim Fit Jeans,797,1399.0,43.000000,NaN,3.9,11.1k
1,1,The Indian Garage Co,Men Bootcut Jeans,749,2499.0,70.000000,NaN,4.1,615
2,2,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,3.9,106
3,3,KETCH,Men Tapered Fit Jeans,799,1749.0,54.316752,950.0,4,2k
4,4,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,4,386
...,...,...,...,...,...,...,...,...,...
495,495,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,NaN,NaN
496,496,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,NaN,NaN
497,497,High Star,Men Straight Fit Jeans,647,2699.0,76.000000,NaN,NaN,NaN
498,498,HERE&NOW,Men Skinny Fit Jeans,727,2599.0,72.000000,NaN,NaN,NaN
499,499,Mast & Harbour,Men Mid Rise Ripped Jeans,1057,2299.0,54.000000,NaN,NaN,NaN

In [12]:
df['total_reviews'].unique()

array(['11.1k', '615', '106', '2k', '386', '429', '152', '41', '127',
       '128', '149', '95', '321', '236', '324', '147', '902', '465',
       '1.1k', '1k', '278', '1.3k', '39', '139', '130', '24', '22', '124',
       '45', '202', '143', '5', '51', '1.4k', '140', '1.2k', '87', '242',
       '14.6k', '753', '1.6k', '6.2k', '12.5k', '69', nan, '108', '72',
       '9.1k', '327', '9.3k', '60', '21', '270', '325', '187', '1.7k',
       '728', '29', '36', '35', '466', '470', '131', '355', '399', '669',
       '5.5k', '74', '225', '298', '282', '876', '132', '233', '208',
       '75', '85', '2.6k', '11', '37', '784', '14', '231', '91', '107',
       '17', '614', '134', '23', '471', '2.4k', '111', '181', '435',
       '192', '296', '291', '103', '104', '7', '116', '96', '6', '173',
       '304', '81', '2.2k', '277', '4', '101', '159', '426', '32', '599',
       '255', '26', '99', '136', '83', '33', '609', '12', '511', '7k',
       '479', '294', '54', '195', '822', '43', '16', '55', '28', '229',
       '67', '175', '10', '603', '11.9k', '79', '1.8k', '285', '400',
       '259', '714', '210', '48', '18', '950', '19', '494', '160', '115',
       '141', '78', '172', '427', '1.5k', '4.6k', '339', '153', '430',
       '200', '13', '133', '369', '207', '421', '303', '90', '158', '2',
       '249', '832', '238', '65', '3.6k', '44', '5.6k', '52', '2.7k', '9',
       '31', '178', '27', '3.5k', '20', '46', '440', '38', '163', '836',
       '328', '1.9k', '123', '8', '167', '110', '50', '692', '821', '547',
       '34', '68', '857', '15', '222', '146', '88', '49', '64', '309',
       '53', '121', '612', '62', '174', '251', '367', '42', '56', '142',
       '392', '265', '47', '161', '40', '526', '245', '25', '76', '734',
       '61', '151', '740', '70', '86'], dtype=object)

In [15]:
data1 = df

data1['total_reviews'] = df['total_reviews'].replace({r'k$': 'e3'}, regex=True).apply(
    lambda x: eval(x) if pd.notna(x) else x
)

data1

,Unnamed: 0,brand_Name,model_name,discounted_price,original_price,discount_percentage,discount_off,rating,total_reviews
0,0,Urbano Fashion,Men Slim Fit Jeans,797,1399.0,43.000000,NaN,3.9,11100.0
1,1,The Indian Garage Co,Men Bootcut Jeans,749,2499.0,70.000000,NaN,4.1,615.0
2,2,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,3.9,106.0
3,3,KETCH,Men Tapered Fit Jeans,799,1749.0,54.316752,950.0,4,2000.0
4,4,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,4,386.0
...,...,...,...,...,...,...,...,...,...
495,495,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,NaN,NaN
496,496,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,NaN,NaN,NaN
497,497,High Star,Men Straight Fit Jeans,647,2699.0,76.000000,NaN,NaN,NaN
498,498,HERE&NOW,Men Skinny Fit Jeans,727,2599.0,72.000000,NaN,NaN,NaN
499,499,Mast & Harbour,Men Mid Rise Ripped Jeans,1057,2299.0,54.000000,NaN,NaN,NaN

In [20]:
data1['discount_percentage'].isnull().sum()

53

In [21]:
# Viewing rows where 'discount_percentage' contains only null values
null_rows = data1[data1['discount_percentage'].isnull()]
null_rows

,Unnamed: 0,brand_Name,model_name,discounted_price,original_price,discount_percentage,discount_off,rating,total_reviews
123,123,V-Mart,Men Mid-Rise Heavy Fade Jeans,599,NaN,NaN,NaN,3.8,173.0
167,167,V-Mart,Men Mid-Rise Cotton Jeans,999,NaN,NaN,NaN,3.8,429.0
170,170,V-Mart,Men Mid-Rise Light Fade Jeans,599,NaN,NaN,NaN,3.7,79.0
174,174,V-Mart,Men Light Fade Jeans,899,NaN,NaN,NaN,3.9,259.0
175,175,V-Mart,Men Slim Fit Mid-Rise Jeans,599,NaN,NaN,NaN,4.2,6.0
202,202,V-Mart,Men Light Fade Cotton Jeans,799,NaN,NaN,NaN,4.2,78.0
208,208,V-Mart,Men Mid-Rise Cotton Jeans,999,NaN,NaN,NaN,3.8,1200.0
211,211,V-Mart,Men Regular Fit Cotton Jeans,599,NaN,NaN,NaN,3.8,6.0
217,217,V-Mart,Men Clean Look Jeans,999,NaN,NaN,NaN,3.2,16.0
219,219,V-Mart,Men Slim Fit Cotton Jeans,999,NaN,NaN,NaN,3.6,1600.0
228,228,V-Mart,Men Mid-Rise Clean Look Jeans,599,NaN,NaN,NaN,3.8,2600.0
231,231,V-Mart,Men Clean Look Cotton Jeans,999,NaN,NaN,NaN,3.9,1100.0
235,235,V-Mart,Men Mid-Rise Cotton Jeans,999,NaN,NaN,NaN,NaN,NaN
238,238,V-Mart,Men Super Skinny Fit Jeans,999,NaN,NaN,NaN,NaN,NaN
241,241,V-Mart,Men Stretchable Jeans,899,NaN,NaN,NaN,NaN,NaN
242,242,V-Mart,Men Clean Look Slim Fit Jeans,599,NaN,NaN,NaN,NaN,NaN
243,243,V-Mart,Men Clean Look Jeans,999,NaN,NaN,NaN,NaN,NaN
248,248,V-Mart,Men Mid-Rise Slim Fit Jeans,999,NaN,NaN,NaN,NaN,NaN
250,250,V-Mart,Men Slim Fit Jeans,999,NaN,NaN,NaN,4.1,11.0
255,255,V-Mart,Men Mid-Rise Slim Fit Jeans,999,NaN,NaN,NaN,3.8,421.0
256,256,V-Mart,Men Slim Fit Jeans,899,NaN,NaN,NaN,3.9,303.0
257,257,V-Mart,Men Light Fade Jeans,999,NaN,NaN,NaN,3.7,90.0
258,258,V-Mart,Men Regular Fit Cotton Jeans,899,NaN,NaN,NaN,4,158.0
260,260,V-Mart,Men Clean Look Jeans,999,NaN,NaN,NaN,4,249.0
261,261,V-Mart,Men Slim Fit Cotton Jeans,899,NaN,NaN,NaN,3.7,832.0
262,262,V-Mart,Men Heavy Fade Jeans,999,NaN,NaN,NaN,3.9,238.0
263,263,V-Mart,Men Slim Fit Cotton Jeans,599,NaN,NaN,NaN,4.1,22.0
265,265,V-Mart,Men Mid-Rise Heavy Fade Jeans,999,NaN,NaN,NaN,4,5.0
267,267,V-Mart,Men Regular Fit Cotton Jeans,899,NaN,NaN,NaN,3.8,132.0
269,269,V-Mart,Men Mid-Rise Slim Fit Jeans,1049,NaN,NaN,NaN,4.2,67.0
271,271,V-Mart,Men Clean Look Cotton Jeans,999,NaN,NaN,NaN,3.6,1400.0
273,273,V-Mart,Men Slim Fit Cotton Jeans,1049,NaN,NaN,NaN,NaN,NaN
276,276,V-Mart,Men Cotton Jeans,999,NaN,NaN,NaN,NaN,NaN
277,277,V-Mart,Men Slim Fit Heavy Fade Jeans,899,NaN,NaN,NaN,NaN,NaN
278,278,V-Mart,Men Cotton Jeans,999,NaN,NaN,NaN,NaN,NaN
280,280,V-Mart,Men Slim Fit Jeans,999,NaN,NaN,NaN,NaN,NaN
285,285,V-Mart,Men Slim Fit Cotton Jeans,899,NaN,NaN,NaN,NaN,NaN
289,289,V-Mart,Men Cotton Jeans,899,NaN,NaN,NaN,NaN,NaN
290,290,V-Mart,Men Slim Fit Jeans,999,NaN,NaN,NaN,NaN,NaN
293,293,V-Mart,Men Mid-Rise Light Fade Jeans,799,NaN,NaN,NaN,NaN,NaN
295,295,V-Mart,Men Slim Fit Cotton Jeans,999,NaN,NaN,NaN,NaN,NaN
297,297,V-Mart,Men Slim Fit Jeans,999,NaN,NaN,NaN,NaN,NaN
298,298,V-Mart,Men Slim Fit Cotton Jeans,899,NaN,NaN,NaN,NaN,NaN
300,300,V-Mart,Men Slim Fit Cotton Jeans,999,NaN,NaN,NaN,3.6,21.0
301,301,V-Mart,Men Regular Fit Cotton Jeans,999,NaN,NaN,NaN,3.9,52.0
302,302,V-Mart,Men Cotton Jeans,999,NaN,NaN,NaN,4,160.0
303,303,V-Mart,Men Mid-Rise Slim Fit Jeans,999,NaN,NaN,NaN,4.2,51.0
304,304,V-Mart,Men Slim Fit Jeans,999,NaN,NaN,NaN,4,2700.0
307,307,V-Mart,Men Mid-Rise Slim Fit Jeans,999,NaN,NaN,NaN,3.8,24.0
308,308,V-Mart,Men Mid-Rise Heavy Fade Jeans,999,NaN,NaN,NaN,3.2,52.0
311,311,V-Mart,Men Slim Fit Cotton Jeans,899,NaN,NaN,NaN,4,27.0
314,314,V-Mart,Men Light Fade Jeans,999,NaN,NaN,NaN,3.1,35.0
319,319,V-Mart,Men Regular Fit Cotton Jeans,899,NaN,NaN,NaN,2.7,6.0

In [22]:
data1.fillna(0, inplace=True)

data1

,Unnamed: 0,brand_Name,model_name,discounted_price,original_price,discount_percentage,discount_off,rating,total_reviews
0,0,Urbano Fashion,Men Slim Fit Jeans,797,1399.0,43.000000,0.0,3.9,11100.0
1,1,The Indian Garage Co,Men Bootcut Jeans,749,2499.0,70.000000,0.0,4.1,615.0
2,2,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,3.9,106.0
3,3,KETCH,Men Tapered Fit Jeans,799,1749.0,54.316752,950.0,4,2000.0
4,4,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,4,386.0
...,...,...,...,...,...,...,...,...,...
495,495,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,0,0.0
496,496,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,0,0.0
497,497,High Star,Men Straight Fit Jeans,647,2699.0,76.000000,0.0,0,0.0
498,498,HERE&NOW,Men Skinny Fit Jeans,727,2599.0,72.000000,0.0,0,0.0
499,499,Mast & Harbour,Men Mid Rise Ripped Jeans,1057,2299.0,54.000000,0.0,0,0.0

In [23]:
data1.isnull().sum()

Unnamed: 0             0
brand_Name             0
model_name             0
discounted_price       0
original_price         0
discount_percentage    0
discount_off           0
rating                 0
total_reviews          0
dtype: int64

In [30]:
data1.drop('Unnamed: 0', axis = 1)

,brand_Name,model_name,discounted_price,original_price,discount_percentage,discount_off,rating,total_reviews
0,Urbano Fashion,Men Slim Fit Jeans,797,1399.0,43.000000,0.0,3.9,11100.0
1,The Indian Garage Co,Men Bootcut Jeans,749,2499.0,70.000000,0.0,4.1,615.0
2,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,3.9,106.0
3,KETCH,Men Tapered Fit Jeans,799,1749.0,54.316752,950.0,4,2000.0
4,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,4,386.0
...,...,...,...,...,...,...,...,...
495,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,0,0.0
496,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,0,0.0
497,High Star,Men Straight Fit Jeans,647,2699.0,76.000000,0.0,0,0.0
498,HERE&NOW,Men Skinny Fit Jeans,727,2599.0,72.000000,0.0,0,0.0
499,Mast & Harbour,Men Mid Rise Ripped Jeans,1057,2299.0,54.000000,0.0,0,0.0

In [31]:
data1.to_csv(r"D:\TeraBoxDownload\Python\data collection - myntra\MyntraMen_Jeans.csv")

In [32]:
data1

,Unnamed: 0,brand_Name,model_name,discounted_price,original_price,discount_percentage,discount_off,rating,total_reviews
0,0,Urbano Fashion,Men Slim Fit Jeans,797,1399.0,43.000000,0.0,3.9,11100.0
1,1,The Indian Garage Co,Men Bootcut Jeans,749,2499.0,70.000000,0.0,4.1,615.0
2,2,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,3.9,106.0
3,3,KETCH,Men Tapered Fit Jeans,799,1749.0,54.316752,950.0,4,2000.0
4,4,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,4,386.0
...,...,...,...,...,...,...,...,...,...
495,495,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,0,0.0
496,496,The Indian Garage Co,Men Slim Fit Jeans,639,1999.0,68.000000,0.0,0,0.0
497,497,High Star,Men Straight Fit Jeans,647,2699.0,76.000000,0.0,0,0.0
498,498,HERE&NOW,Men Skinny Fit Jeans,727,2599.0,72.000000,0.0,0,0.0
499,499,Mast & Harbour,Men Mid Rise Ripped Jeans,1057,2299.0,54.000000,0.0,0,0.0